ul.parts-menu
	h4.inline-media__title Related Features

	li.parts-menu__item.parts-menu__item
		a(href="http://www.baltimoresun.com/entertainment/music/midnight-sun-blog/bal-baltimore-concerts-pictures-photogallery.html")
			img.parts-menu__thumbnail(src="http://www.trbimg.com/img-5957cfdb/turbine/bal-baltimore-concerts-pictures/75/75x42" width="75")
			<span class="parts-menu__date"> July 10, 2017 </span>
			.parts-menu__title Top Baltimore-area concerts
	
	li.parts-menu__item.parts-menu__item
		a(href="http://www.baltimoresun.com/news/maryland/bs-md-columbia-turns-50-20170319-story.html")
			img.parts-menu__thumbnail(src="http://www.trbimg.com/img-58cd584a/turbine/bs-md-columbia-turns-50-20170319/75/75x42" width="75")
			<span class="parts-menu__date"> March 18, 2017 </span>
			.parts-menu__title At 50, Columbia celebrates past even as it faces a much-changed future
	li.parts-menu__item.parts-menu__item

		a(href="http://www.baltimoresun.com/news/maryland/howard/columbia/ph-ho-cf-50-years-of-columbia-in-50-photos-pg-20170314-photogallery.html")
			img.parts-menu__thumbnail(src="http://www.trbimg.com/img-58c84cd6/turbine/ph-ho-cf-50-years-of-columbia-in-50-photos-pg-20170314/75/75x42" width="75")
			<span class="parts-menu__date"> March 14, 2017 </span>
			.parts-menu__title 50 years of Columbia in 50 photos








 
 

