.w3-button
	border: none
	display: inline-block
	outline: 0
	padding: 8px 16px 
	vertical-align: middle
	overflow: hidden
	text-decoration: none
	color: inherit
	background-color: inherit
	text-align: center
	cursor: pointer
	white-space: nowrap

.w3-black
	color: #fff!important
	background-color: #000!important

.w3-display-left
	float: left
	margin-left: 25px
	position: relative
	top: 50%
	left: 0%
	transform: translate(0%,-700%)

.w3-display-right
	float: right
	margin-right: 25px
	position: relative
	top: 50%
	right: 0%
	transform: translate(0,-700%)

.slide-caption
    color: #fff!important
    background-color: #000!important
    padding-top: 16px!important
    padding-bottom: 16px!important
    font-size: 18px!important
    padding: 0.01em 16px
    right: 0
    bottom: 0


