.header
	//background-image: url("../images/mw-taylorswift.jpg")
	height: 600px
	//background-attachment: fixed
	//background-position: 50% 50%
	//background-repeat: no-repeat
	//background-size: cover
	background-color: #000
	@media (max-width: 850px)
		height: 400px
	@media (max-width: 650px)
		height: 300px		
	@media (max-width: 450px)
		height: 200px		



	&__background-video
		position: absolute
		top: 0
		left: 0
		z-index: 1
		width: 100%
		min-height: 100%
		video
			+size(100%)
			display: block
			@media (max-width: $size-laptop)
				display: none
		img
			background-color: #222
			width: 100%
			display: block
			@media (min-width: $size-laptop + 1)
				display: none

			
		@media (max-width: $size-desktop)
			position: static

		@media (min-width: $size-tablet+1)

			&:before //Overlay to darken the video
				content: ''
				position: absolute
				top: 0
				left: 0
				+size(100%)
				background-color: rgba(0,0,0,0.5)

	&__text
		@media (min-width: $size-tablet+1)
			//position: absolute
			//top: 60px
			//left: 0
			margin-top: 60px
			width: 100%
			color: white
			//opacity: 0
			//animation: fade-in-up 0.8s 1.5s

		@media (max-width: $size-tablet)
			background-color: white
			margin-top: 50px


	&__part-no
		font:
			family: $roboto
			size: 20px
		text-transform: uppercase
		margin-bottom: 15px
		color: white
		color: rgba(255,255,255,0.7)
		
		@media (max-width: $size-tablet)
			font-size: 18px
			color: maroon
			padding-top: 10px



	&__title
		width: 90%
		max-width: 1000px
		margin: 0 auto
		color: #bd476f
		text-transform: uppercase
		font:
			family: $proxima
			size: 1.5em
		line-height: 1
		text-align: center
		padding-top: 25px
		clear: both


		&--red
			color: $dark-red !important

		svg
			width: 100px
			height: 100px
			margin: 0 -30px 15px 0

			@media (max-width: $size-laptop)
				width: 50px
				height: 50px
				margin: 0	

			@media (max-width: $size-phone1)
				width: 30px
				height: 30px
				margin: 0	
			
			path
				color: #FFF
				fill: #FFF

				@media (max-width: $size-tablet)
					color: #000
					fill: #000	


	&__chatter
		max-width: 800px
		margin: 0 10% 0 10%
		font:
			family: $franklin
			weight: 700
			size: 2em
		text-transform: uppercase
		text-align: center

		@media (max-width: $size-laptop)
			font-size: 1.8em	

		@media (max-width: $size-phone1)
			font-size: 1.5em

		@media (max-width: $size-phone2)
			font-size: 1.3em

		&--red
			color: $dark-red !important


span.title-big
	font-weight: 900
	font-size: 2em
	color: #fff
	padding-top: 50px
	@media (max-width: 500px)
		font-size: 1.5em

.mySlidesTop
		width: 100%
		height: 600px
		overflow: hidden
		@media (max-width: 850px)
			height: 400px		
		@media (max-width: 650px)
			height: 300px		
		@media (max-width: 450px)
			height: 200px		



.mySlidesTop img 
		width: 100%
		background-attachment: fixed
		background-position: 50% 50%
		background-repeat: no-repeat
		object-fit: cover





