doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">

html(class="no-js", lang="en")

	head

		//Basic page needs
		meta(charset="utf-8")
		title 50 Years of Merriweather Post Pavillion | The Baltimore Sun
		meta(name="description", content="")
		meta(name="author", content="")

		//Mobile Specific Metas
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

		//CSS
		link(rel="stylesheet", type="text/css", href="dist/stylesheets/style.css?v=1.2")

		//Call html5shiv for IE9 and an alt stylesheet for IE8 fallback
		//if lt IE 9
			script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js")
		|	<!--[if lte IE 8]>
		|		<link rel="stylesheet" type="text/css" href="dist/stylesheets/ie8-and-down.css" />
		|	<![endif]-->

		
		noscript
			link(rel="stylesheet", href="dist/stylesheets/ie8-and-down.css")

		//Facebook OpenGraph
		meta(property="og:title", content="50 years of Merriweather")
		meta(property="og:url", content="http://data.baltimoresun.com/features/merriweather/")
		meta(property="og:image", content="http://data.baltimoresun.com/features/merriweather/dist/images/fb-thumb.png")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="A look at a concert venue’s legacy, future")
		meta(property="fb:app_id", content="310302989040998")

		//Twitter 
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="@baltimoresun")
		meta(name="twitter:title", content="50 years of Merriweather")
		meta(name="twitter:description", content="A look at a concert venue’s legacy, future")
		//meta(name="twitter:image", content="http://data.baltimoresun.com/features/merriweather/dist/images/twitter-thumb.png")
		meta(name="twitter:domain", content="baltimoresun.com")

		//Omniture Code
		include includes/omniture.html

		//BS Ad Code
		include includes/ads/ad-for-header.html

		//Prefetching gallery images
		- for (var i = 1; i <= 3; i++)
			link(rel="prefetch" href="")

	body
		script(src="http://www.baltimoresun.com/thirdpartyservice?disablessor=true")
		div(data-trb-thirdpartynav)

		//block for story layout
		block content

		include includes/ads/ad-for-body--leaderboard.html

		//footer
		footer.footer
			section.footer__credits
				ul.footer__credits--main
					li.label Reporting
					li Wesley Case

				ul
					li.label Editing
					li Ellen Fishel
				ul
					li.label Visuals
					li Michael Ares
					li Emma Patti Harris
					li Concert photos courtesy of Merriweather Post Pavillion
					
				ul
					li.label Design / Development / Graphics
					li Adam Marton
	
			.footer__logo
				small
					a(href="http://www.tronc.com/privacy-policy/", style="margin:0,auto;color:#fff;text-decoration:none;") Privacy Policy<br><br>
				img(src="dist/images/baltimore-sun-logo-white.png" width="300")


		section.footer__comments
			include includes/comments.html




		// Javascript

		//Load jQuery CDN, fall back to local version if necessary		
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script.
			window.jQuery || document.write('<script src="dist/min/jquery-1.10.2.min.js">\x3C/script>')

		//Load the rest
		
		<script src="https://use.typekit.net/xzk0snu.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
		script(src="https://code.createjs.com/createjs-2015.11.26.min.js")
		script(src="dist/min/app.min.js")


		//Configuration for photo gallery
		script.
			var slideIndex = 1;
			showDivs(slideIndex);

			function plusDivs(n) {
			  showDivs(slideIndex += n);
			}

			function showDivs(n) {
			  var i;
			  var x = document.getElementsByClassName("mySlides");
			  if (n > x.length) {slideIndex = 1}    
			  if (n < 1) {slideIndex = x.length}
			  for (i = 0; i < x.length; i++) {
			     x[i].style.display = "none";  
			  }
			  x[slideIndex-1].style.display = "block";  
			}

		//Configuration for second photo gallery
		script.
			var slideIndex2 = 1;
			showDivs2(slideIndex2);

			function plusDivs2(n) {
			  showDivs2(slideIndex2 += n);
			}

			function showDivs2(n) {
			  var i;
			  var x = document.getElementsByClassName("mySlides2");
			  if (n > x.length) {slideIndex2 = 1}    
			  if (n < 1) {slideIndex2 = x.length}
			  for (i = 0; i < x.length; i++) {
			     x[i].style.display = "none";  
			  }
			  x[slideIndex2-1].style.display = "block";  
			}

		//Configuration for topper auto photo gallery
		script.
			var myIndex = 0;
			carousel();

			function carousel() {
			    var i;
			    var x = document.getElementsByClassName("mySlidesTop");
			    for (i = 0; i < x.length; i++) {
			       x[i].style.display = "none";  
			    }
			    myIndex++;
			    if (myIndex > x.length) {myIndex = 1}    
			    x[myIndex-1].style.display = "block";  
			    setTimeout(carousel, 2000); // Change image every 2 seconds
			}

