extends _base.pug

block content
		.header
			//.header__background-video
				video(loop="true" width="100%" height="100%" autoplay muted)
					source(src="" type="video/mp4")
					source(src="" type="video/webm")
			.header__text
				.container.container--header
					.header__title 50 years of Merriweather Post Pavillion

		section#chapter-intro
			.container-story
				.article
					.article__byline By Wesley Case, The Baltimore Sun
					.article__dateline July 14, 2017

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 
					
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 



			figure.inline-media.inline-media--pic.inline-media--full
				img(src="dist/images/mw-taylorswift.jpg")
				figcaption.inline-media--pic__caption Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. 
				btn.inline-media--pic__open-gallery
					a(href="http://www.baltimoresun.com/bal-shoot-to-kill-lethality-in-baltimore-20160929-photogallery.html" target="_blank") SEE MORE PHOTOS


			.container-story
				.article
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					
					//large pull quote
					
					figure.inline-media.inline-media--pullquote.inline-media--big(data-sr)
						hr
						.inline-media--pullquote__text &ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.&rdquo;
						.inline-media--pullquote__src former OXES member Nat Fowler
						hr


					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 


		section#chapter-1
			.container-story
				.article
					.article__chapter-title 
						hr
						.article__chapter-title__text Merriweather history

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 


					//full-width interactive
					include includes/interactives/example.html		

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					//multiphoto package - photos enter from left, right and bottom
					figure.media-package
						img.media-package__img.media-package__img--left(src="dist/images/mw-johnmayer.jpg" data-sr="enter left" class="img-responsive" style="width:49%")
						img.media-package__img.media-package__img--right(src="dist/images/mw-arcticmonkeys.jpg" data-sr="enter right" class="img-responsive" style="width:49%")
						img.media-package__img.media-package__img--bottom(src="dist/images/mw-1981schedule.jpg" data-sr="enter bottom" class="img-responsive")
						.media-package__caption Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 
						//figcaption Karl Merton Ferron

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 
					.inline-media.inline-media--big.subscribe
						 
						h3 Support our investigative journalism
						</br> Become a Baltimore Sun subscriber today to support stories like this one. <a href="http://ad.baltimoresun.com/land-article/" target="_blank">Start getting full access to our signature journalism for just $4.99 for 3 months.</a>
						</br>				

			//UNUSED ELEMENTS

			//full-width inline video
			//#featured-video.featured-video
				//figure.fv__video
					//iframe(src="https://player.vimeo.com/video/185014164" width="80%" height="560" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)




					p.reporter-email Contact XXX at <a href="mailto:xxx@baltsun.com" target="_blank"> xxx@baltsun.com</a>

					//series menu for mobile
					figure.inline-media.inline-media--big.inline-media--has-title(data-sr)
						include includes/_parts-menu.pug

					//.inline-media.inline-media--big.newsletter
								b Sign up for our Crime & Courts newsletter to recieve more stories like this:
								iframe(src='http://data.baltimoresun.com/mobile/form.html' style='border:0' height="65")
								

					//ad
					include includes/ads/ad-for-body--leaderboard.html

