extends _base.pug

block content
		.header
			.header__text
				.container-topper
					.mySlidesTop
						img(src="dist/images/mw-taylorswift.jpg")
						.top-caption Country star Taylor Swift performs at Merriweather Post Pavilion on June 11, 2009. (Leslie Furlong)
					.mySlidesTop
						img(src="dist/images/mw-kendricklamar2.jpg")
						.top-caption Compton, Calif., rapper Kendrick Lamar performs at Merriweather Post Pavilion on May 30, 2015 as a part of the Sweetlife Festival. (Richie Downs)					
					.mySlidesTop
						img(src="dist/images/mw-blackkeys.jpg")
						.top-caption Dan Auerbach of the Black Keys performs at Merriweather Post Pavilion on May 18, 2012. (Leslie Furlong)
					.mySlidesTop
						img(src="dist/images/mw-mumford.jpg")
						.top-caption British folk-rock act Mumford & Sons performs at Merriweather Post Pavilion on June 9, 2011. (Courtesy of Merriweather Post Pavilion)

		section#chapter-intro
			.container-story-green
				.article
					.header__title <br><br><span class="title-small">50 years of
						.title-big Merriweather
						.title-tag A look at a concert venue’s legacy, future
 
					.article__byline By Wesley Case, The Baltimore Sun
					.article__dateline July 12, 2017
					.socials
						span.icon-facebook
						span.icon-twitter

			.container-story-pink
				.article

					p.lead Growing up as a music-obsessed kid in Rockville, Marc Roberge always considered Merriweather Post Pavilion a special place where magic happened through amplifiers and earnest performances. Through his nearly two decades as frontman in the band O.A.R., he learned that feeling wasn’t limited to locals.
					

			.container-story
				.article(style="padding-top: 20px;")

					p “We’ve shared so many conversations with so many artists about venues you have to play. We stand around and say, ‘When are you playing Red Rocks? Are you playing the Gorge this year?’” Roberge said recently. “Merriweather is on the list.”

					p Over the past five decades, the Columbia venue has built its reputation through concerts that represented the zeitgeist of their times: Led Zeppelin, Stevie Wonder, Aretha Franklin, David Bowie, Whitney Houston, the Grateful Dead, Metallica, Wu-Tang Clan, Pearl Jam, Radiohead, Kanye West and countless others cemented within pop music’s canon.

					p That a venue of such renown is located on 40 acres of an otherwise quiet, wooded area in a planned suburban community makes it all the more remarkable. And as Merriweather prepares to celebrate its 50th anniversary with a concert featuring Willie Nelson and Jackson Browne on Saturday, it’s in the process of a wide-ranging, $55 million renovation that its management team hopes will secure its future for decades to come.

					p “We want to build the best fan experience, the best artist experience and the best place to work,” said Brad Canfield, vice president of operations. “I’m hoping that we’re laying the foundation for the next 50 years.”

			figure.inline-media.inline-media--pic.inline-media--full
				.paralax(style="background-image: url('dist/images/mw-who.jpg')")
				figcaption.inline-media--pic__caption-paralax Pictured: Fans watch the Who perform from Merriweather Post Pavilion’s lawn on June 29, 1970. (Gordon Snyder)


			.container-story
				.article
					.article__chapter-title 
						.article__chapter-title__text <img src="dist/images/guitar.png" style="width:70px;">From symphony to rock ’n’ roll

					p Merriweather’s beginnings, however, were less auspicious.

					p James Rouse, Columbia’s creator, pictured the property as a fine-arts hub, so the Washington National Symphony played the opening night, July 14, 1967. Groups like the New York City Ballet and Israel Philharmonic Orchestra rounded out the first season.

					figure.inline-media.inline-media--pic.inline-media--full <!--(data-sr)-->
						img(src="dist/images/mw-1981schedule.jpg")
						figcaption.inline-media--pic__caption A promotional poster for some of Merriweather Post Pavilion's 1981 concert schedule. That year, the venue hosted 62 shows. (Courtesy of Merriweather Post Pavilion)

					p While critics raved about the new venue and its acoustics, the undersold crowds reflected a disconnect in demand. Meanwhile, a golden era of rock ’n’ roll was blooming, so Merriweather began booking the emerging acts of the time: Jimi Hendrix, the Doors, Janis Joplin and Blood, Sweat and Tears. Orchestral performances still occurred throughout the 1970s, but lineups were dominated by rock and pop music — the forces driving ticket sales.

					p With its open, sloping field and the amphitheater’s striking design by architect Frank Gehry, Merriweather established itself as a great setting for a concert. Over the years, the venue — which is now owned by the nonprofit Downtown Columbia Arts and Culture Commission — showed it would accommodate requests to keep artists happy, too.

					p Loge seating sections along the sides were added prior to the 1970 season to book Tom Jones, who required a minimum number of seats, said spokeswoman Audrey Fix Schaefer. Thirty-five years later, Merriweather removed 15 rows of seats so Green Day could have a mosh pit on its “American Idiot” tour.

					figure.inline-media.inline-media--pic.inline-media--full
						.click-through Use arrows to click through gallery
						.mySlides
								img(src="dist/images/mw-gladys.jpg", style="width:100%")
								.slide-caption Gladys Knight and the Pips, opening for Tom Jones, perform at Merriweather Post Pavilion in June 1970. (Gordon Synder)											
						.mySlides
							img(src="dist/images/mw-nelson-carter.jpg", style="width:100%")
							.slide-caption Willie Nelson (left) sings “Georgia on My Mind” with President Jimmy Carter on stage at Merriweather Post Pavilion on July 21, 1978. (Courtesy of Merriweather Post Pavilion)
						.mySlides
							img(src="dist/images/mw-joplin.jpg", style="width:100%")
							.slide-caption Janis Joplin performs at Merriweather Post Pavilion in July 1969. The James Cotton Blues Band also performed. Tickets that season cost $3-$7. (Gordon Snyder)
						.mySlides
								img(src="dist/images/mw-tomjones.jpg", style="width:100%")
								.slide-caption A ticket stub for Tom Jones’ June 1970 concerts. The venue added the loge sections to secure shows with the singer, who required a minimum number of seats to perform. (Courtesy of Merriweather Post Pavilion)								
						.mySlides
								img(src="dist/images/mw-tomjones2.jpg", style="width:100%")
								.slide-caption Singer Tom Jones performs at Merriweather Post Pavilion in June 1970. (Gordon Snyder)										
						.mySlides
								img(src="dist/images/mw-countryjoe.jpg", style="width:100%")
								.slide-caption Fans enter Merriweather Post Pavilion for a concert featuring Country Joe & the Fish and Iron Butterfly on Aug. 24, 1968. A full season of lawn tickets cost $5.95 that year. (Gordon Snyder)										
						.mySlides
							img(src="dist/images/mw-buffet.jpg", style="width:100%")
							.slide-caption Jimmy Buffett performs at Merriweather Post Pavilion in July 1994. With 46 appearances, Buffett has performed at the venue the most out of any artist. (Courtesy of Merriweather Post Pavilion)
						.mySlides
							img(src="dist/images/mw-santana.jpg", style="width:100%")
							.slide-caption The Merriweather Post Pavilion lawn crowd for Santana and Rusted Root on July 14, 1997. (Courtesy of Merriweather Post Pavilion)
						.mySlides
								img(src="dist/images/mw-lillith.jpg", style="width:100%")
								.slide-caption The crowd watches the Lilith Fair, the festival featuring only female solo artists and female-led bands, at Merriweather Post Pavilion on July 29, 1997. Sarah McLachlan, Sheryl Crow, Tracy Chapman and others performed. (Courtesy of Merriweather Post Pavilion)					
						.mySlides
								img(src="dist/images/mw-bst.jpg", style="width:100%")
								.slide-caption Fans watch Blood, Sweat & Tears perform at Merriweather Post Pavilion on June 27, 1969. (Courtesy of Merriweather Post Pavilion)	
						.mySlides
								img(src="dist/images/mw-symphony.jpg", style="width:100%")
								.slide-caption Patrons watch the Washington National Symphony Orchestra at Merriweather Post Pavilion on June 21, 1970. (Gordon Snyder)													
			
						button(class="w3-button w3-black w3-display-left", onclick="plusDivs(-1)") &#10094;
						button(class="w3-button w3-black w3-display-right", onclick="plusDivs(1)") &#10095;


					p Despite changes to the physical layout over the years, Merriweather has retained an aesthetic charm, said Hollis Karr, a music fan who grew up in Columbia. She’s attended at least one show per year there since the late 1970s.

					p “It’s a somewhat intimate outdoor venue unlike like some other ones,” Karr said. “I think that allows the audience and the artist to connect a little bit more.”

					p That balance of obliging fans and artists has become a hallmark of Merriweather, said operator Seth Hurwitz.

					p “My job is to please people,” said Hurwitz, who took over at the venue after the 2003 season. “Then the band wants to come back, and the audience wants to come back. That’s my goal.”



			figure.inline-media.inline-media--pic.inline-media--full
				.paralax(style="background-image: url('dist/images/mw-crowd-paralaxs.jpg')")
				figcaption.inline-media--pic__caption-paralax Pictured: Fans watch the rock band Brand New at Merriweather Post Pavilion on July 12, 2016. (Jonathan Mount / For The Baltimore Sun) 

			.container-story
				.article
					.article__chapter-title 
						.article__chapter-title__text <img src="dist/images/drum.png" style="width:70px;">Fortifying a legacy

				.article
					p The allure of Merriweather isn’t only noticed by locals.

					p Hurwitz, whose I.M.P. concert promotions and production company also owns and operates the 9:30 Club and other Washington venues, has a track record that has earned Merriweather national accolades.

					p Billboard magazine named Merriweather the country’s second best amphitheater in 2010. Three years later, it made the list of top five amphitheaters in America as chosen by Rolling Stone, which described Merriweather as “a huge wooden slab that seems to float over a hillside near Baltimore.”

			//full-width inline video
			#featured-video.featured-video
				figure.fv__video
					iframe(src="https://player.vimeo.com/video/224944781/" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

			.container-story
				.article
					p Merriweather, which seats approximately 19,000, has earned national recognition in large part because of its consistent schedule of eclectic acts, whose genres read like a record store’s layout — country, rock, R&B, pop, rap, indie-rock, jazz and bluegrass are all regularly represented.

					p Oftentimes, Hurwitz aims to book artists who’ve emerged from the fringes but haven’t yet reached ubiquity. He pointed to the xx and the Lumineers as recent examples.

					p “I’ve always survived by finding acts before they explode or are just right on the cusp,” he said. “There will always be a market for that, because there’s always new bands.”


					
			//full-width interactive
			include includes/interactives/quotes.html		

			.container-story
				.article

					p What complicates Hurwitz’s job is Merriweather’s status as an independent promoter. Merriweather competes with the entertainment conglomerate Live Nation, which owns nearly 200 venues across the world, including the nearby Jiffy Lube Live in Bristow, Va.

					p Gary Bongiovanni, editor in chief of the concert industry trade publication Pollstar, said it’s common for music acts to sign contracts with large promoters like Live Nation and AEG Live that prohibit playing locations not affiliated with those companies, leaving independent venues like Merriweather off the itinerary.

					p “Some artists will simply follow the bigger check,” Bongiovanni said. “The fact that Merriweather has been so successful despite the fact that they’re a smaller facility and they’re booked independently is a testament to the venue and the people who operate it.”


					figure.inline-media.inline-media--pic.inline-media--full
						.click-through Use arrows to click through gallery
						.mySlides2
							img(src="dist/images/mw-johnmayer.jpg", style="width:100%")
							.slide-caption John Mayer performs at Merriweather Post Pavilion on July 13, 2008. Brett Dennen also performed. (Leslie Furlong)
						.mySlides2
							img(src="dist/images/mw-kanye.jpg", style="width:100%")
							.slide-caption Kanye West performs on the first day of HFStival on May 27, 2006 at Merriweather Post Pavilion. The two-day event also featured Counting Crows, the Strokes and All Time Low. (Courtesy of Merriweather Post Pavilion)

						.mySlides2
							img(src="dist/images/mw-nelson.jpg", style="width:100%")
							.slide-caption Willie Nelson performs at Merriweather Post Pavilion on Aug. 19, 2015. The singer/songwriter will also perform at the venue on July 15 as a part of Merriweather’s 50th anniversary concert. (Courtesy of Merriweather Post Pavilion)	
						.mySlides2
							img(src="dist/images/mw-vampireweekend.jpg", style="width:100%")
							.slide-caption  Vampire Weekend performs at Merriweather Post Pavilion as a part of the final Virgin Mobile FreeFest on Sept. 21, 2013. Other performers included MGMT, the Avett Brothers and Sky Ferreira. (Julia Lofstrand)
						.mySlides2
							img(src="dist/images/mw-thecure.jpg", style="width:100%")
							.slide-caption The Cure performs at Merriweather Post Pavilion on June 22, 2016. (Dave Barnhouser)
						.mySlides2
							img(src="dist/images/mw-branson.jpg", style="width:100%")
							.slide-caption Virgin Group founder Richard Branson greets the Merriweather Post Pavilion crowd during Virgin Mobile FreeFest on Aug. 30, 2009. Performers that year included Blink-182, Weezer and Wale. (Courtesy of Merriweather Post Pavilion)
						.mySlides2
							img(src="dist/images/mw-arcticmonkeys2.jpg", style="width:100%")
							.slide-caption Arctic Monkeys open for the Black Keys at Merriweather Post Pavilion on May 18, 2012. (Leslie Furlong)						
						.mySlides2
							img(src="dist/images/mw-lumineers.jpg", style="width:100%")
							.slide-caption The Lumineers perform at Merriweather Post Pavilion on Sept. 10, 2016. (Richie Downs)
						.mySlides2
							img(src="dist/images/mw-mumford2.jpg", style="width:100%")
							.slide-caption Mumford & Sons perform at Merriweather Post Pavilion on June 9, 2011. (Courtesy of Merriweather Post Pavilion

		
						button(class="w3-button w3-black w3-display-left", onclick="plusDivs2(-1)") &#10094;
						button(class="w3-button w3-black w3-display-right", onclick="plusDivs2(1)") &#10095;
						btn.inline-media--pic__open-gallery


				
					p Audiences might not realize the tug-of-war politics behind venues landing artists, but Merriweather’s successful pursuit of talent can lead to thrilling results for music fans.

					p Dave Portner — who performs under the alias Avey Tare in Animal Collective, a band that names its 2009 breakthrough after Merriweather — fondly recalled seeing Elton John there with his family. Seeing an act that normally plays giant stadiums and arenas in a venue like Merriweather enhanced the experience, the Owings Mills native said.

					p “It’s cool to be able to see them in a little bit smaller place,” Portner said.


			figure.inline-media.inline-media--pic.inline-media--full
				.paralax(style="background-image: url('dist/images/mw-isobel-paralax.jpg')")
				figcaption.inline-media--pic__caption-paralax Pictured: Jason Isbell performs at Merriweather Post Pavilion on Friday in Columbia on Friday, June 30, 2017. (Michael Ares / The Baltimore Sun)

			.container-story
				.article
					.article__chapter-title 
						.article__chapter-title__text <img src="dist/images/sax.png" style="width:50px;">Renovating for the future

				.article
					p After spending a recent Friday afternoon watching his daughter splash around in a backstage kiddie pool, Jason Isbell took the Merriweather stage with a huge smile on his face. The Nashville-based singer-songwriter quickly gushed about the surroundings.

					p “We never thought we’d get to headline a venue like this,” Isbell said. “The place keeps getting better and better every time we come back.”

					p It’s a sentiment Merriweather officials hope will be common among returning artists.

					p A recent tour of the venue revealed the major renovations that Canfield said were long overdue. For fans, they include new bathrooms, more food options and a larger stage house capable of accommodating elaborate productions that previously wouldn’t have fit at Merriweather. (Canfield cited the Chainsmokers, who performed there in late May, as a recent example.)

					p There’s also the new $6.6 million Chrysalis amphitheater, located about 200 yards from the main pavilion. In the midst of trees, the bright green sculpture adds a more intimate stage that will host the band Greensky Bluegrass on July 22 as one of its first performances.

					//multiphoto package
					figure.media-package
						img.media-package__img.media-package__img--left(src="dist/images/mw-stub.jpg" class="img-responsive" style="width:49%")
						img.media-package__img.media-package__img--right(src="dist/images/mw-virgin2.png" class="img-responsive" style="width:49%")
						img.media-package__img.media-package__img--bottom(src="dist/images/mw-1969.jpg" class="img-responsive")
						.media-package__caption Top left: Ticket stubs from a performance by the Washington National Symphony featuring Van Cliburn on July 6, 1968. Tickets that season cost between $3.50-$5.50. Top right: A poster from the Virgin Mobile FreeFest 2009. Bottom: A promotional schedule from the 1969 Merriweather Post Pavilion season. Though not listed, The Who and Led Zeppelin performed on the same bill on May 25 that year. (Courtesy of Merriweather Post Pavilion) 


					p What could have the most significant impact for Merriweather’s future is the space most fans will never get to see: backstage. What used to be a quaint area of double-wide trailers for artists and their teams has been transformed into a sprawling, 15,000-square-foot complex with 11 dressing room suites that can comfortably accommodate artists and families. It can also host festivals with larger lineups, which Merriweather plans to book more of in the future, Hurwitz said.

					p Not all music fans love the growing emphasis on festivals.
 
					p “That’s more for a younger generation,” said Karr, who believes the all-day events can often contribute to increased drunkenness and drug use among patrons. “I’d rather see them pay more money for a really stellar act or two than the multiple acts, but I understand that it’s a business.”
 
					p In 2014, two males, ages 17 and 20, died of apparent drug overdoses while attending an electronic dance music festival at Merriweather. Police, who said MDMA was the most commonly used drug at the show, also issued 50 underage drinking citations that day. In a statement released shortly after, Hurwitz mourned the deaths, stating, “We need to work on convincing kids that those pills they put in their mouth could kill them.”

					p Another event, the genre-spanning Sweetlife Festival in 2015, sparked noise complaints from nearby residents; Merriweather installed new sound monitoring systems the following year in response.

					p Summer festivals of all genres, though, have become hugely popular, and Merriweather’s renovations reflect a venue ready to host more. There’s now a large dining room, cabanas for private massages from on-site masseurs and a heated swimming pool that artists have already used during post-performance parties.

					p “We were 10 or 15 years behind when we should have [renovated],” Canfield said. “A couple people summed it up that we went from a crusty old summer camp that had been neglected to a Four Seasons.”

					p To compete with corporations with bigger budgets and resources, Merriweather hopes its updated amenities create a welcoming environment that will make a lasting impression on artists. The aim is to give them reasons to come back, Hurwitz said.

					p Earlier this year, Hurwitz and I.M.P. signed a 40-year lease to continue to operate Merriweather.

					p The long-term commitment has allowed Hurwitz and his team to continue to create the type of music experiences generations of music fans have come to expect from Merriweather. A great show here has a spirit to it that’s hard to describe, but it’s palpable to the audience when everything clicks. That’s what Hurwitz is after.

					p “We have this wonderful facility, but all of this stuff would be no good if you didn’t run it right,” Hurwitz said. “I’m just so happy that I’ve been able to keep this wonderful group of people together and build on it and create this vibe. Vibe is everything.”


			.container-story-green
				.article-bottom
					article__chapter-title 
						.article__chapter-title__text
							span.bottom-title Notable dates and performances in Merriweather’s history
			
					p <strong>July 14, 1967:</strong></strong> The venue opens with a performance from Washington National Symphony
					p <strong>Aug. 16, 1967:</strong> Jimi Hendrix Experience becomes the first pop music artist to perform at the venue
					p <strong>May 25, 1969:</strong> The Who and Led Zeppelin perform, the only time the two shared a bill
					p <strong>July 5, 1970:</strong> James Brown performs at Merriweather, his only appearance at the venue
					p <strong>June-August 1974:</strong> Rock bands banned for the year by manager Michael Spear
					p <strong>Aug. 19, 1975:</strong> Frank Sinatra performs at the venue for the first time
					p <strong>July 24, 1977:</strong> Jimmy Buffett performs at the venue for the first time. With 46 appearances, Buffett has performed at the venue more times than any other artist
					p <strong>July 21, 1978:</strong> President Jimmy Carter joins Willie Nelson on stage to sing “Georgia on My Mind”
					p <strong>June 20, 1983:</strong> The Grateful Dead performs at the venue for the first time
					p <strong>June 1, 1985:</strong> Madonna and the Beastie Boys share a bill
					p <strong>Aug. 6-7, 1987:</strong> The Monkees and Weird Al Yankovic share a bill
					p <strong>July 17, 1992:</strong> Phish makes its first appearance at the venue, sharing a bill with Santana
					p <strong>Aug. 22, 1996:</strong> Alanis Morissette and Radiohead share a bill
					p <strong>Sept. 24, 1996:</strong> Pearl Jam’s first performance at the venue
					p <strong>May 27-28, 2006:</strong> HFStival, a popular regional music festival in the ’90s and 2000s, is hosted at Merriweather for the first time. Kanye West and The Strokes headline
					p <strong>Aug. 30, 2009:</strong> The first Virgin Mobile FreeFest occurs, featuring Blink-182, Weezer and Wale
					p <strong>May 1, 2011:</strong></strong> The first Sweetlife Festival is held at the venue, featuring The Strokes, Girl Talk and Lupe Fiasco
					

			.inline-media.inline-media--big.subscribe
						 
				h3 Support quality journalism.
				</br>As times change, the need for quality journalism doesn’t. <a href="http://ad.baltimoresun.com/land-subscribe-evergreen/editorial.html?int=bs_digitaladshouse_4-weeks-99_acquisition-subscriber_ngux_text-link_editorial-support-quality-journalism-homepage" target="_blank">Subscribe to The Baltimore Sun.</a>
						</br>				

				//series menu for mobile
			figure.inline-media.inline-media--big.inline-media--has-title(style="margin:0 auto;")
					<br><br>
					include includes/_parts-menu.pug


			//UNUSED ELEMENTS



					//large pull quote
					
					figure.inline-media.inline-media--pullquote.inline-media--big(data-sr)
						hr
						.inline-media--pullquote__text &ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.&rdquo;
						.inline-media--pullquote__src former OXES member Nat Fowler
						hr


					p.reporter-email Contact XXX at <a href="mailto:xxx@baltsun.com" target="_blank"> xxx@baltsun.com</a>

			
								

					//ad
					include includes/ads/ad-for-body--leaderboard.html

