extends _base.pug

block content
		.header
			.header__text
				.container-topper
					.mySlidesTop
						img(src="dist/images/mw-taylorswift.jpg")
						.top-caption Country star Taylor Swift performs at Merriweather Post Pavilion on June 11, 2009. (Leslie Furlong)
					.mySlidesTop
						img(src="dist/images/mw-kendricklamar2.jpg")
						.top-caption Compton, Calif., rapper Kendrick Lamar performs at Merriweather Post Pavilion on May 30, 2015 as a part of the Sweetlife Festival. (Richie Downs)					
					.mySlidesTop
						img(src="dist/images/mw-blackkeys.jpg")
						.top-caption Dan Auerbach of the Black Keys performs at Merriweather Post Pavilion on May 18, 2012. (Leslie Furlong)
					.mySlidesTop
						img(src="dist/images/mw-mumford.jpg")
						.top-caption British folk-rock act Mumford & Sons performs at Merriweather Post Pavilion on June 9, 2011. (Courtesy of Merriweather Post Pavilion)

		section#chapter-intro
			.container-story-green
				.article
					.header__title <br><br>50 years of
						span.title-big <br> Merriweather Post Pavillion
					.article__byline By Wesley Case, The Baltimore Sun
					.article__dateline July 14, 2017
					.socials
						span.icon-facebook
						span.icon-twitter

			.container-story-pink
				.article

					p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.
					

			.container-story
				.article(style="padding-top: 20px;")

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 



			figure.inline-media.inline-media--pic.inline-media--full
				.paralax(style="background-image: url('dist/images/mw-who.jpg')")
				figcaption.inline-media--pic__caption-paralax Pictured: Fans watch the Who perform from Merriweather Post Pavilion’s lawn on June 29, 1970. (Gordon Snyder)


			.container-story
				.article
					.article__chapter-title 
						.article__chapter-title__text <img src="dist/images/guitar.png" style="width:70px;">History

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					figure.inline-media.inline-media--pic.inline-media--full <!--(data-sr)-->
						img(src="dist/images/mw-1981schedule.jpg")
						figcaption.inline-media--pic__caption A promotional poster for some of Merriweather Post Pavilion's 1981 concert schedule. That year, the venue hosted 62 shows. (Courtesy of Merriweather Post Pavilion)

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					figure.inline-media.inline-media--pic.inline-media--full
						.click-through Use arrows to click through gallery
						.mySlides
								img(src="dist/images/mw-gladys.jpg", style="width:100%")
								.slide-caption Gladys Knight and the Pips, opening for Tom Jones, perform at Merriweather Post Pavilion in June 1970. (Gordon Synder)											
						.mySlides
							img(src="dist/images/mw-nelson-carter.jpg", style="width:100%")
							.slide-caption Willie Nelson (left) sings “Georgia on My Mind” with President Jimmy Carter on stage at Merriweather Post Pavilion on July 21, 1978. (Courtesy of Merriweather Post Pavilion)
						.mySlides
							img(src="dist/images/mw-joplin.jpg", style="width:100%")
							.slide-caption Janis Joplin performs at Merriweather Post Pavilion in July 1969. The James Cotton Blues Band also performed. Tickets that season cost $3-$7. (Gordon Snyder)
						.mySlides
								img(src="dist/images/mw-tomjones.jpg", style="width:100%")
								.slide-caption A ticket stub for Tom Jones’ June 1970 concerts. The venue added the loge sections to secure shows with the singer, who required a minimum number of seats to perform. (Courtesy of Merriweather Post Pavilion)								
						.mySlides
								img(src="dist/images/mw-tomjones2.jpg", style="width:100%")
								.slide-caption Singer Tom Jones performs at Merriweather Post Pavilion in June 1970. (Gordon Snyder)										
						.mySlides
								img(src="dist/images/mw-countryjoe.jpg", style="width:100%")
								.slide-caption Fans enter Merriweather Post Pavilion for a concert featuring Country Joe & the Fish and Iron Butterfly on Aug. 24, 1968. A full season of lawn tickets cost $5.95 that year. (Gordon Snyder)										
						.mySlides
							img(src="dist/images/mw-buffet.jpg", style="width:100%")
							.slide-caption Jimmy Buffett performs at Merriweather Post Pavilion in July 1994. With 46 appearances, Buffett has performed at the venue the most out of any artist. (Courtesy of Merriweather Post Pavilion)
						.mySlides
							img(src="dist/images/mw-santana.jpg", style="width:100%")
							.slide-caption The Merriweather Post Pavilion lawn crowd for Santana and Rusted Root on July 14, 1997. (Courtesy of Merriweather Post Pavilion)
						.mySlides
								img(src="dist/images/mw-lillith.jpg", style="width:100%")
								.slide-caption The crowd watches the Lilith Fair, the festival featuring only female solo artists and female-led bands, at Merriweather Post Pavilion on July 29, 1997. Sarah McLachlan, Sheryl Crow, Tracy Chapman and others performed. (Courtesy of Merriweather Post Pavilion)					
						.mySlides
								img(src="dist/images/mw-bst.jpg", style="width:100%")
								.slide-caption Fans watch Blood, Sweat & Tears perform at Merriweather Post Pavilion on June 27, 1969. (Courtesy of Merriweather Post Pavilion)	
						.mySlides
								img(src="dist/images/mw-symphony.jpg", style="width:100%")
								.slide-caption Patrons watch the Washington National Symphony Orchestra at Merriweather Post Pavilion on June 21, 1970. (Gordon Snyder)													
			
						button(class="w3-button w3-black w3-display-left", onclick="plusDivs(-1)") &#10094;
						button(class="w3-button w3-black w3-display-right", onclick="plusDivs(1)") &#10095;


					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

			figure.inline-media.inline-media--pic.inline-media--full
				.paralax(style="background-image: url('dist/images/mw-crowd-paralaxs.jpg')")
				figcaption.inline-media--pic__caption-paralax Pictured: Fans watch the rock band Brand New at Merriweather Post Pavilion on July 12, 2016. Jonathan Mount for the Baltimore Sun) 

			.container-story
				.article
					.article__chapter-title 
						.article__chapter-title__text <img src="dist/images/drum.png" style="width:70px;">Chapter Two

				.article
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

			//full-width inline video
			#featured-video.featured-video
				figure.fv__video
					iframe(src="https://vimeo.com/224944781/" width="100%" height="560" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
			.container-story
				.article
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 
					
			//full-width interactive
			include includes/interactives/quotes.html		

			.container-story
				.article

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 


					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 


					figure.inline-media.inline-media--pic.inline-media--full
						.click-through Use arrows to click through gallery
						.mySlides2
							img(src="dist/images/mw-johnmayer.jpg", style="width:100%")
							.slide-caption John Mayer performs at Merriweather Post Pavilion on July 13, 2008. Brett Dennen also performed. (Leslie Furlong)
						.mySlides2
							img(src="dist/images/mw-kanye.jpg", style="width:100%")
							.slide-caption Kanye West performs on the first day of HFStival on May 27, 2006 at Merriweather Post Pavilion. The two-day event also featured Counting Crows, the Strokes and All Time Low. (Courtesy of Merriweather Post Pavilion)

						.mySlides2
							img(src="dist/images/mw-nelson.jpg", style="width:100%")
							.slide-caption Willie Nelson performs at Merriweather Post Pavilion on Aug. 19, 2015. The singer/songwriter will also perform at the venue on July 15 as a part of Merriweather’s 50th anniversary concert. (Courtesy of Merriweather Post Pavilion)	
						.mySlides2
							img(src="dist/images/mw-vampireweekend.jpg", style="width:100%")
							.slide-caption  Vampire Weekend performs at Merriweather Post Pavilion as a part of the final Virgin Mobile FreeFest on Sept. 21, 2013. Other performers included MGMT, the Avett Brothers and Sky Ferreira. (Julia Lofstrand)
						.mySlides2
							img(src="dist/images/mw-thecure.jpg", style="width:100%")
							.slide-caption The Cure performs at Merriweather Post Pavilion on June 22, 2016. (Dave Barnhouser)
						.mySlides2
							img(src="dist/images/mw-branson.jpg", style="width:100%")
							.slide-caption Virgin Group founder Richard Branson greets the Merriweather Post Pavilion crowd during Virgin Mobile FreeFest on Aug. 30, 2009. Performers that year included Blink-182, Weezer and Wale. (Courtesy of Merriweather Post Pavilion)
						.mySlides2
							img(src="dist/images/mw-arcticmonkeys2.jpg", style="width:100%")
							.slide-caption Arctic Monkeys open for the Black Keys at Merriweather Post Pavilion on May 18, 2012. (Leslie Furlong)						
						.mySlides2
							img(src="dist/images/mw-lumineers.jpg", style="width:100%")
							.slide-caption The Lumineers perform at Merriweather Post Pavilion on Sept. 10, 2016. (Richie Downs)
						.mySlides2
							img(src="dist/images/mw-mumford2.jpg", style="width:100%")
							.slide-caption Mumford & Sons perform at Merriweather Post Pavilion on June 9, 2011. (Courtesy of Merriweather Post Pavilion

		
						button(class="w3-button w3-black w3-display-left", onclick="plusDivs2(-1)") &#10094;
						button(class="w3-button w3-black w3-display-right", onclick="plusDivs2(1)") &#10095;
						btn.inline-media--pic__open-gallery


				
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 



			figure.inline-media.inline-media--pic.inline-media--full
				.paralax(style="background-image: url('dist/images/mw-isobel-paralax.jpg')")
				figcaption.inline-media--pic__caption-paralax Pictured: Jason Isbell performs at the Merriweather Post Pavilion venue in Columbia on Friday, June 30, 2017. (Michael Ares / The Baltimore Sun)

			.container-story
				.article
					.article__chapter-title 
						.article__chapter-title__text <img src="dist/images/sax.png" style="width:50px;">Chapter Three

				.article
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 	

					//multiphoto package
					figure.media-package
						img.media-package__img.media-package__img--left(src="dist/images/mw-stub.jpg" class="img-responsive" style="width:49%")
						img.media-package__img.media-package__img--right(src="dist/images/mw-virgin2.png" class="img-responsive" style="width:49%")
						img.media-package__img.media-package__img--bottom(src="dist/images/mw-1969.jpg" class="img-responsive")
						.media-package__caption Top left: Ticket stubs from a performance by the Washington National Symphony featuring Van Cliburn on July 6, 1968. Tickets that season cost between $3.50-$5.50. (Courtesy of Merriweather Post Pavilion) Top right: A poster from the Virgin Mobile FreeFest 2009. (Courtesy of Merriweather Post Pavilion) Bottom: A promotional schedule from the 1969 Merriweather Post Pavilion season. Though not listed, The Who and Led Zeppelin performed on the same bill on May 25 that year. (Courtesy of Merriweather Post Pavilion) 


					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 	
					

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 	


					.inline-media.inline-media--big.subscribe
						 
						h3 Support quality journalism.
						</br>As times change, the need for quality journalism doesn’t. <a href="http://ad.baltimoresun.com/land-subscribe-evergreen/editorial.html?int=bs_digitaladshouse_4-weeks-99_acquisition-subscriber_ngux_text-link_editorial-support-quality-journalism-homepage" target="_blank">Subscribe to The Baltimore Sun.</a>
						</br>				

			//UNUSED ELEMENTS



					//large pull quote
					
					figure.inline-media.inline-media--pullquote.inline-media--big(data-sr)
						hr
						.inline-media--pullquote__text &ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.&rdquo;
						.inline-media--pullquote__src former OXES member Nat Fowler
						hr


					p.reporter-email Contact XXX at <a href="mailto:xxx@baltsun.com" target="_blank"> xxx@baltsun.com</a>

					//series menu for mobile
					figure.inline-media.inline-media--big.inline-media--has-title(data-sr)
						include includes/_parts-menu.pug

					//.inline-media.inline-media--big.newsletter
								b Sign up for our Crime & Courts newsletter to recieve more stories like this:
								iframe(src='http://data.baltimoresun.com/mobile/form.html' style='border:0' height="65")
								

					//ad
					include includes/ads/ad-for-body--leaderboard.html

