extends _base.pug

block content
		.header
			.header__text
				.container-topper
					.mySlidesTop
						img(src="dist/images/mw-taylorswift.jpg")
						.top-caption Pictured: Taylor Swift at Merriweather Post
					.mySlidesTop
						img(src="dist/images/mw-kanye.jpg")
						.top-caption Pictured: Kanye West at Merriweather Post
					.mySlidesTop
						img(src="dist/images/mw-blackkeys.jpg")
						.top-caption Pictured: The Black Keys at Merriweather Post
					.mySlidesTop
						img(src="dist/images/mw-mumford.jpg")
						.top-caption Pictured: Mumford and Sons at Merriweather Post
					

		section#chapter-intro
			.container-story-green
				.article
					.header__title 50 years of
						span.title-big <br> Merriweather Post Pavillion
					.article__byline By Wesley Case, The Baltimore Sun
					.article__dateline July 14, 2017

			.container-story-pink
				.article

					p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.
					

			.container-story
				.article

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 



			figure.inline-media.inline-media--pic.inline-media--full
				.paralax(style="background-image: url('dist/images/mw-who.jpg')")
				figcaption.inline-media--pic__caption-paralax Pictured: Crowd for The Who at Merriweather Post Pavillion 


			.container-story
				.article
					.article__chapter-title 
						.article__chapter-title__text <img src="dist/images/guitar.png" style="width:70px;">History

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					figure.inline-media.inline-media--pic.inline-media--full <!--(data-sr)-->
						img(src="dist/images/mw-1981schedule.jpg")
						figcaption.inline-media--pic__caption Old poster

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					figure.inline-media.inline-media--pic.inline-media--full
						.click-through Use arrows to click through gallery
						.mySlides
							img(src="dist/images/mw-joplin.jpg", style="width:100%")
							.slide-caption Janice Joplin
						.mySlides
							img(src="dist/images/mw-buffet.jpg", style="width:100%")
							.slide-caption Jimmy Buffett
						.mySlides
							img(src="dist/images/mw-santana.jpg", style="width:100%")
							.slide-caption Santana
						.mySlides
							img(src="dist/images/mw-nelson-carter.jpg", style="width:100%")
							.slide-caption Willie Nelson and Jimmie Carter
						button(class="w3-button w3-black w3-display-left", onclick="plusDivs(-1)") &#10094;
						button(class="w3-button w3-black w3-display-right", onclick="plusDivs(1)") &#10095;



					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

			figure.inline-media.inline-media--pic.inline-media--full
				.paralax(style="background-image: url('dist/images/mw-kendricklamar.jpg')")
				figcaption.inline-media--pic__caption-paralax Pictured: Kendrick Lamar at Merriweather Post Pavillion 

			.container-story
				.article
					.article__chapter-title 
						.article__chapter-title__text <img src="dist/images/drum.png" style="width:70px;">Chapter Two

				.article
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

			//full-width inline video
			#featured-video.featured-video
				figure.fv__video
					iframe(src="https://player.vimeo.com/video/2814266" width="100%" height="560" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
			.container-story
				.article
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 
					
			//full-width interactive
			include includes/interactives/quotes.html		

			.container-story
				.article

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 


					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 


					figure.inline-media.inline-media--pic.inline-media--full
						.click-through Use arrows to click through gallery
						.mySlides2
							img(src="dist/images/mw-johnmayer.jpg", style="width:100%")
							.slide-caption John Mayer
						.mySlides2
							img(src="dist/images/mw-vampireweekend.jpg", style="width:100%")
							.slide-caption Vampire Weekend
						.mySlides2
							img(src="dist/images/mw-thecure.jpg", style="width:100%")
							.slide-caption The Cure
						.mySlides2
							img(src="dist/images/mw-petty.jpg", style="width:100%")
							.slide-caption Tom Petty
		
						button(class="w3-button w3-black w3-display-left", onclick="plusDivs2(-1)") &#10094;
						button(class="w3-button w3-black w3-display-right", onclick="plusDivs2(1)") &#10095;
						btn.inline-media--pic__open-gallery


				
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 



			figure.inline-media.inline-media--pic.inline-media--full
				.paralax(style="background-image: url('dist/images/mw-arcticmonkeys.jpg')")
				figcaption.inline-media--pic__caption-paralax Pictured: Arctic Monkey's at Merriweather Post Pavillion 

			.container-story
				.article
					.article__chapter-title 
						.article__chapter-title__text <img src="dist/images/sax.png" style="width:50px;">Chapter Three

				.article
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 	

					//multiphoto package
					figure.media-package
						img.media-package__img.media-package__img--left(src="dist/images/mw-virgin.jpg" class="img-responsive" style="width:49%")
						img.media-package__img.media-package__img--right(src="dist/images/mw-virgin2.png" class="img-responsive" style="width:49%")
						img.media-package__img.media-package__img--bottom(src="dist/images/mw-1969.jpg" class="img-responsive")
						.media-package__caption Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 
						//figcaption Karl Merton Ferron

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 	


					.inline-media.inline-media--big.subscribe
						 
						h3 Support our investigative journalism
						</br> Become a Baltimore Sun subscriber today to support stories like this one. <a href="http://ad.baltimoresun.com/land-article/" target="_blank">Start getting full access to our signature journalism for just $4.99 for 3 months.</a>
						</br>				

			//UNUSED ELEMENTS



					//large pull quote
					
					figure.inline-media.inline-media--pullquote.inline-media--big(data-sr)
						hr
						.inline-media--pullquote__text &ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.&rdquo;
						.inline-media--pullquote__src former OXES member Nat Fowler
						hr


					p.reporter-email Contact XXX at <a href="mailto:xxx@baltsun.com" target="_blank"> xxx@baltsun.com</a>

					//series menu for mobile
					figure.inline-media.inline-media--big.inline-media--has-title(data-sr)
						include includes/_parts-menu.pug

					//.inline-media.inline-media--big.newsletter
								b Sign up for our Crime & Courts newsletter to recieve more stories like this:
								iframe(src='http://data.baltimoresun.com/mobile/form.html' style='border:0' height="65")
								

					//ad
					include includes/ads/ad-for-body--leaderboard.html

